* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }
  html .wrapper,
  body .wrapper {
    width: 1140px;
    max-width: 90%;
    margin: 0 auto; }
  html .banner,
  body .banner {
    background: #31323d url(../images/bg-pattern.svg);
    background-repeat: repeat; }
    html .banner h1,
    body .banner h1 {
      color: #ffffff;
      text-transform: lowercase;
      padding: 2em 0;
      margin: 0;
      font-size: 5em;
      line-height: .85; }
  html .nav,
  body .nav {
    background: #3a3b49; }
    html .nav a, html .nav label,
    body .nav a,
    body .nav label {
      text-transform: lowercase;
      font-size: 1.25em;
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      margin-right: 2em; }
      html .nav a:hover:not(label), html .nav label:hover:not(label),
      body .nav a:hover:not(label),
      body .nav label:hover:not(label) {
        color: #4ad7b1; }
    html .nav label,
    body .nav label {
      margin-right: 0;
      border-right: 1px solid #4ad7b1;
      padding-right: 1.5em; }
    html .nav input[type="search"],
    body .nav input[type="search"] {
      background: transparent;
      outline: none;
      border: none;
      color: #ffffff;
      font-style: italic;
      font-size: 1.25em;
      font-weight: 100;
      padding: 2em 1em; }
  html .resources,
  body .resources {
    padding: 0;
    margin: 0;
    list-style: none; }
    html .resources li,
    body .resources li {
      width: 25%;
      float: left;
      display: inline-block;
      position: relative;
      overflow: hidden;
      -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
      transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
      transition: transform 0.4s, opacity 0.1s 0.3s;
      transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s; }
      html .resources li img,
      body .resources li img {
        width: 100%;
        max-width: 100%;
        vertical-align: bottom; }
      html .resources li .resource-info,
      body .resources li .resource-info {
        background: rgba(74, 215, 177, 0.85);
        padding: 2em 10%;
        height: 100%;
        width: 100%;
        position: absolute;
        top: auto;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
        transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s; }
        html .resources li .resource-info h2,
        body .resources li .resource-info h2 {
          color: #ffffff;
          font-size: 1.5;
          line-height: 1;
          text-transform: lowercase;
          margin-bottom: 1em; }
        html .resources li .resource-info .button,
        body .resources li .resource-info .button {
          border: 2px solid #ffffff;
          padding: 1em 1.5em;
          border-radius: .5em;
          color: #ffffff;
          text-decoration: none;
          text-transform: lowercase;
          font-size: .9em;
          font-weight: 700;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
          html .resources li .resource-info .button:hover,
          body .resources li .resource-info .button:hover {
            color: #4ad7b1;
            background: #ffffff; }
        html .resources li .resource-info .price,
        body .resources li .resource-info .price {
          display: inline;
          font-weight: 700;
          color: #31323d;
          padding-left: 1.5em; }
      html .resources li:hover img,
      body .resources li:hover img {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
        transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s; }
      html .resources li:hover .resource-info,
      body .resources li:hover .resource-info {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
        transition: opacity 0.1s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s; }
  @media only screen and (max-width: 1250px) {
    html .resources li,
    body .resources li {
      width: 33.33%; } }
  @media only screen and (max-width: 900px) {
    html .banner h1,
    body .banner h1 {
      padding: 1.5em 0;
      font-size: 3.5em; }
    html .nav a, html .nav label,
    body .nav a,
    body .nav label {
      font-size: 1.1em;
      margin-right: 1em; }
    html .nav input[type="search"],
    body .nav input[type="search"] {
      font-size: 1.1em;
      padding: 1.5em .5em; }
    html .resources li,
    body .resources li {
      width: 50%; } }
  @media only screen and (max-width: 600px) {
    html .banner h1,
    body .banner h1 {
      font-size: 2.5em; }
    html .nav a,
    body .nav a {
      display: none; }
    html .resources li,
    body .resources li {
      width: 100%; } }
